body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  height: calc(100vh - calc(100vh - 100%));
}

body::-webkit-scrollbar {
  display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
div,
li,
ul {
  margin: 0px;
  padding: 0px;
}

/* main styles */
.main {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  justify-content: center;
  background-color: #ffffff;
  padding: 0 20px 40px 20px;
}

/* MainContent*/

.MainContent {
  background-color: #ffffff;
  /* width: 100vw; */
}

/* about styles */

.about {
  margin-bottom: 10vw;
}

.about-position {
  font-size: 14px;
  color: #000000;
  font-style: bold;
  line-height: 17px;
  margin-bottom: 1vw;
}
.about-Name {
  font-size: 39px;
  color: #000000;
  font-weight: 800;
  line-height: 55px;
  margin-bottom: 2vw;
}

.about-description {
  color: #595959;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

/* project styles */
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects {
  margin-bottom: 10vw;
}
.project-item,
.project-breckets {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project {
  text-align: justify;
}

.project-breckets {
  display: none;
}
.project,
.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
}
.project-link {
  margin-left: 10px;
}
.project_list {
  padding-left: 20px;
}
/* Work styles */

.work {
  margin-bottom: 10vw;
}
.company_1,
.Company_2,
.Company_3 {
  margin-bottom: 10px;
}
.orange_text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}
.company_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
  margin-top: 10px;
}
.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  padding-left: 17px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-bottom: 10px;
}
.work-list-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* Education */

.education {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}
.education_position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* SideBar Style */

.sidebar {
  background-color: #1e2939;
  width: calc(100vw + 40px);
  padding-top: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
}
.image {
  width: 89vw;
  margin-bottom: 20px;
  align-self: center;
}

.aside-container {
  display: flex;
  justify-content: space-around;
}
.sidbar_title {
  display: inline-block;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contacts-title {
  display: none;
}

.Contacts {
  display: inline-block;
  margin-bottom: 4vw;
  display: flex;
  gap: 2vw;
  align-items: center;
  align-self: center;
}
.aside-positioning {
  display: flex;
  flex-direction: column;
}

.Contact_Type {
  display: inline;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  font-size: 14px;
  margin-right: 10px;
  font-style: normal;
}

.Contact_Links {
  color: #cbd3df;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
  text-decoration: none;
}
/* Tech_Skills */

.tech_skils_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.soft_skills_item,
.tech_skills_item {
  color: #fb6d3a;
}
.Tech_Skills {
  margin-bottom: 44px;
}
.tech_skills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
/* Soft_Skills */

.soft_skills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}
.soft_skills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (min-width: 375px) {
  .Contacts {
    margin-bottom: 20px;
  }
  .Contacts > div {
    display: flex;
    flex-direction: row;
    gap: 7vw;
    justify-content: space-around;
    width: 80vw;
    align-self: center;
  }

  .sidbar_title {
    font-size: 22px;
  }
}

@media screen and (min-width: 767px) {
  .sidebar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .Contact_Type {
    display: none;
  }
  .aside-container{
    justify-content: space-between;
  }
  .Contacts {
    display: flex;
    flex-direction: column;
  }
  .Contacts > div {
    justify-content: space-around;
    width: 100%;
  }
  .image {
    max-width: 370px;
  
  }
  .contacts-title {
    display: block;
  }

  .about,
  .projects,
  .work {
    margin-bottom: 40px;
  }

  .project-breckets {
    display: inline;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin: 0 auto;
    gap: 0;
    flex-direction: row-reverse;
    width: 1200px;
    padding: 0;
  }

  .MainContent {
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px 90px 90px;
  }
  .about {
    width: 400px;
    height: 230px;
    margin-bottom: 40px;
  }
  .about-position {
    margin-bottom: 20px;
  }
  .about-Name {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 25px;
  }
  .about-description {
    width: 400px;
  }
  .projects {
    margin-bottom: 50px;
  }
  .project_list {
    padding-left: 17px;
    width: 475px;
  }
  .project {
    display: block;
  }
  .project-breckets {
    display: inline;
  }
  .work {
    margin-bottom: 45px;
  }

  .sidebar {
    width: 370px;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: calc(1304px - 961px);
  }
  .aside-container {
    display: block;
    width: 370px;
  }
  .Contacts,
  .Tech_Skills,
  .Soft_Skils {
    padding-left: 40px;
  }
  .Contacts {
    display: inline-block;
    margin-bottom: 50px;
    align-self: start;
  }
  .Contacts > div {
    display: block;
    padding-left: 0;
  }
  .image {
    margin-bottom: 50px;
  }
  .Contact_Type {
    display: inline;
  }

  .project_list {
    padding-left: 17px;
    width: 475px;
  }


}
